---
---

.page-contents {
    font-size: 1.2em;
    line-height: 1.8em;
}

article {
    .post-title {
        margin-bottom: 20px;
    }

    time {
        display: block;
        margin-bottom: 20px;
        opacity: .6;
    }
}

.btn-primary {
    background-color: #ffa200;
    border-color: #ffa200;

    &:hover {
        color: #000;
        background-color: #FFF;
        border-color: #000;
    }
}

.cta-button {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        box-shadow: 0 0 5px #444;
        background-color: #FFF;
        border-color: #FFF;
    }
}

.ils-services-grid {
    .card-footer {
        padding: 0;
        background-color: #FFF;
    }
}

.pagination {
    a {
        text-decoration: none;
        color: #ffa200;
    }

    li.active {
        a {
            background-color: #000 !important;
            border-color: #000 !important;
        }
    }
}

#mapid {
    width: 100%;
    height: 550px;
}

#ils_footer {
    a {
        text-decoration: none;
    }

    .col-md-3 {
        padding: 5px;

        .cell {
            border: 1px solid rgba(255,255,255,0.1);
            padding: 10px;
        }
    }
}
