---
layout: page
title: Linux in Italiano
---

<h1 class="mb-3">{{ page.title }}</h1>

<p>Benché la maggior parte dei siti web e della documentazione su Linux sia pubblicata in lingua inglese, lingua universalmente compresa in ogni parte del mondo, Linux e la stragrande maggioranza del software correlato è disponibile anche in lingua italiana (nonché in decine di altre lingue, più o meno diffuse) per renderne più facile l'utilizzo da parte di tutti.</p>
<p>Durante la fase di installazione di pressoché ogni distribuzione popolare il primo passo è appunto quello della scelta del linguaggio, che automaticamente esegue anche l'impostazione sul fuso orario e sul tipo di tastiera da utilizzare (configurazioni che comunque possono essere anche cambiate a parte). Durante l'installazione il sistema provvederà a scaricare da Internet i file necessari alla visualizzazione della lingua scelta (per ovvi motivi sarebbe impossibile stiparli tutti, per tutte le lingue, per tutti i programmi inclusi di default, sul CD di installazione), ed al termine dell'operazione avrete un ambiente operativo completamente tradotto.</p>
<p>Clicca le icone sotto per accedere alle pagine di presentazione in italiano delle maggiori distribuzioni Linux!</p>

<div class="text-center mb-3">
    <a rel="nofollow" href="http://www.ubuntu-it.org/"><img src="/assets/images/distro_ubuntu.png" class="img-fluid" alt="Ubuntu"></a>
    <a rel="nofollow" href="http://www.debian.org/index.it.html"><img src="/assets/images/distro_debian.png" class="img-fluid" alt="Debian"></a>
    <a rel="nofollow" href="http://fedoraproject.org/it/"><img src="/assets/images/distro_fedora.png" class="img-fluid" alt="Fedora"></a>
    <a rel="nofollow" href="http://www.mageia.org/it/"><img src="/assets/images/distro_mageia.png" class="img-fluid" alt="Mageia"></a>
    <a rel="nofollow" href="https://trisquel.info/it"><img src="/assets/images/distro_trisquel.png" class="img-fluid" alt="Trisquel"></a>
</div>

<p>
    Esattamente come gran parte del software libero e opensource viene implementato e testato da una ricca comunità di programmatori in giro per il globo, anche le traduzioni nelle singole lingue (chiamate in gergo tecnico "localizzazioni") sono
    opera di volontari dei singoli paesi i quali, partendo dalla lingua adottata in origine (quasi sempre l'inglese), provvedono a riscrivere i testi che compaiono all'interno delle applicazioni e la relativa documentazione. Se anche tu conosci
    sia l'italiano che l'inglese potrebbe essere una buona idea partecipare: qui di seguito i link ai team di localizzazione dei progetti opensource più grandi ed importanti, e ai principali gruppi di traduzione nella nostra lingua: prova a dare
    una occhiata!
</p>

<ul>
    <li><a rel="nofollow" href="https://live.gnome.org/ItalianTeam">ambiente desktop Gnome</a></li>
    <li><a rel="nofollow" href="http://community.kde.org/KDE_Localization/it">ambiente desktop KDE</a></li>
    <li><a rel="nofollow" href="https://it.libreoffice.org/comunita/localizzazione/">suite di produttività LibreOffice</a></li>
    <li><a rel="nofollow" href="https://wiki.mozilla.org/L10n:Web_parts">Mozilla (Firefox, Thunderbird e altri strumenti per il web)</a></li>
    <li><a rel="nofollow" href="http://tp.linux.it/">GNU Translation Project italiano</a></li>
    <li><a rel="nofollow" href="http://www.pluto.it/ildp">Italian Linux Documentation Project</a></li>
</ul>
