---
layout: page
title: TODO
description: Idee e spunti per contribuire attivamente alla cultura libera
---

<h1 class="mb-3">{{ page.title }}</h1>

<p>Vuoi attivamente contribuire alla community delle libertà digitali? Esistono una infinità di modi, molti dei quali non prevedono alcuna competenza tecnica specifica ma solo un poco di ingegno.<br>
Italian Linux Society fornisce una serie di <a href="/todo/attivita/">attività</a> già pronte per poterle fare da soli o organizzare degli incontri nel proprio lug ad esempio.<br>
Per una lista di progetti periodicamente aggiornati (e pubblicati sulla <a href="https://www.ils.org/">newsletter di Italian Linux Society</a>) dai un occhiata poco più sotto.</p>

<hr>

<div class="row">
    {% assign sorted_todos = site.todos | sort | reverse %}
    {% for todo in sorted_todos %}
        <div class="col-md-6">
            {% include todo.html todo=todo %}
        </div>
    {% endfor %}
</div>
