---
title: Open Source Design
---

Non di solo codice è fatto il software libero: <a href="http://opensourcedesign.net/" rel="nofollow">Open Souce Design</a> è una community di sviluppatori e soprattutto di designer, il cui scopo è rendere più bello, comodo, pratico ed usabile il software open. Tra le altre cose ospita una <a href="http://opensourcedesign.net/jobs/" rel="nofollow">bacheca di richieste</a> per loghi, mockups, interfacce, studi e componenti grafici destinati ad arricchire progetti opensource: ideale per tutti i designers - in erba o già rodati - che vogliono contribuire a modo loro!
