---
title: Boinc
---

<a href="https://boinc.berkeley.edu/">Boinc</a> è una piattaforma - libera e open source - per il calcolo distribuito, cui tutti possono partecipare installando il client sul proprio computer e "donando" parte della propria potenza computazionale alla ricerca scientifica. Maggiori informazioni si trovano <a href="https://www.boincitaly.org/">sul sito della community italiana</a>.
