---
layout: page
title: Common Voice
description: Come contribuire a Common Voice
---

<h1 class="mb-3">{{ page.title }}</h1>

<p>Questa pagina è una traduzione (<i>adattata</i>) della <a target="_blank" href="https://community.mozilla.org/en/activities/contributing-to-common-voice/">pagina originale sul sito di Mozilla</a>.</p>

<hr>

<p>Il progetto Common Voice è un'iniziativa di Mozilla per aiutare le macchine a capire come parlano le persone reali. Vogliamo creare una tecnologia vocale avanzata, a cui chiunque possa accedere gratuitamente, al fine di guidare l'innovazione.</p>
<p>Per creare sistemi vocali, sono necessari grandi dataset vocali. Il progetto Common Voice mira a creare un dataset vocali aperto per consentire a tutti di creare e sperimentare la tecnologia di riconoscimento vocale.</p>
<h1>Per fatti tuoi</h1>
<p>Fai la differenza condividendo la tua voce e revisionando le registrazioni. Puoi farlo facilmente sul <a href="https://voice.mozilla.org/">sito di common voice</a>.</p>
<p>Un dataset di qualità beneficia di una varietà di accenti e qualità di registrazione differenti, motivo per cui abbiamo bisogno di collaboratori da più parti del paese!</p>
<h3>Come donare la propria voce</h3>
<ol>
<li>Visita il <a target="_blank" href="https://voice.mozilla.org/">sito</a> e crea il tuo profilo.</li>
<li>Clicca su "Parla."</li>
<li>Clicca sul microfono e leggi la frase ad alta voce.</li>
<li>Fai clic sull'icona di arresto rossa quando hai finito.</li>
<li>Continua a registrare finché non hai raggiunto almeno cinque frasi, quindi fai clic su Invia.</li>
</ol>
<h3>Come revisionare le registrazioni</h3>
<ol>
<li>Visita il <a target="_blank" href="https://voice.mozilla.org/">sito</a> e clicca su "Ascolta."</li>
<li>Ascolta la voce (cerca di non leggere lo schermo).</li>
<li>Leggi la frase e confrontala con quello che hai ascoltato.</li>
<li>Se la registrazione combacia, clica "si." Se la registrazione non combacia, clicca “no.” (Nota: accenti diversi sono incoraggiati!)</li>
<li>Ripeti.</li>
</ol>
<h1>Con amici o la comunità</h1>
<p>Contribuisci con i tuoi amici o la comunità. La comunità <a href="https://www.mozillaitalia.org/">Mozilla Italia</a> organizza eventi anche online di contribuzione insieme a più persone per Common Voice, contattateli per maggiori informazioni!</p>
<p>Solitamente per queste serate la comunità Mozilla Italia si organizza online con una scheda dove è aperto Common Voice e i partecipanti silenziano il microfono della video riunione e si danno un timer di 30 minuti (ad esempio) dove contribuiscono. Per qualunque necessità si può chiedere in video riunione oppure alla fine del timer stesso dove si possono condividere le proprie esperienze.</p>
<p>Dal vivo è più difficile perchè si è in una stessa stanza con più persone quindi bisogna orgnaizzarsi e definire se si revisiona solamente ma questo non è sempre possibile perchè se si è in tanti il materiale potrebbe essere poco.</p>
