---
layout: page
title: Attività
description: Pronto a partecipare al mondo del software libero?
---

<h1 class="mb-3">{{ page.title }}</h1>

<p>
    Vuoi contribuire facendo una guida per contribuire a un progetto FOSS o di libertà digitali (come Wikipedia)?.<br>
    Apri un ticket su <a href="https://gitlab.com/ItalianLinuxSociety/linux.it">GitLab</a>. Non ti preoccupare se non sai usarlo ti aiutiamo noi :-)
</p>

<hr>

<h1>PAGINA IN CONSTRUZIONE</h1>

<div class="row">
        <div class="col-md-12">
            <ul>
                <li><a href="/todo/attivita/commonvoice.html">Common Voice</a></li>
                <li><a href="/todo/attivita/openstreetmap.html">OpenStreetMap</a></li>
                <li><a href="/todo/attivita/linuxsi.html">Linux Si</a></li>
                <li><a href="/todo/attivita/wikipedia.html">Wikipedia</a></li>
                <li><a href="/todo/attivita/expolibre.html">ExpoLibre</a></li>
            </ul>
        </div>
</div>
