---
layout: page
title: OpenStreetMap
description: Come contribuire a OpenStreetMap
---

<h1 class="mb-3">{{ page.title }}</h1>
<h3><a href="#account">Come fare un account su OpenStreetMap</a></h3>
<h3><a href="#colonnina">Come aggiungere una colonnina di ricarica elettrica</a></h3>
<h3><a href="#commerciale">Come aggiungere una attività commerciale su OpenStreetMap (se non si ha il tempo)</a></h3>
<h3><a href="#mobile">Come aggiungere punti di interesse da mobile</a></h3>

<p><a href="https://www.openstreetmap.org">OpenStreetMap (OSM)</a> è un progetto simile a Wikipedia, per le mappe. I volontari registrano informazioni sul territorio con i propri dispositivi GPS, oppure da immagini satellitari autorizzate oppure, conoscendo bene un territorio perché magari ci vivono e poi caricano le informazioni, attribuendo ad esse dei tag. Queste informazioni possono essere caricate nel database centrale di OpenStreetMap da dove possono essere ulteriormente modificate, corrette e arricchite da chiunque sia a conoscenza di informazioni mancanti o errori in quella determinata area.</p>

<hr>

<h2 id="account">Come fare un account su OpenStreetMap:</h2>

<p>Un account su OpenStreetMap è consigliato per vari motivi</p>
<ul>
    <li>Accedere e contribuire da app come StreetComplete (<a target="_blank" href="https://f-droid.org/packages/de.westnordost.streetcomplete/">F-Droid</a>, <a target="_blank" href="https://play.google.com/store/apps/details?id=de.westnordost.streetcomplete">Google Play</a>)</li>
    <li>Tracciare i tuoi contributi (e vantarti con gli amici)</li>
    <li>Dare autorità al contributo rispetto a un anonimo così da essere approvato anche in modo più rapido</li>
</ul>

<p>Cliccando su <i>Registrati</i> (in alto a destra) sul sito <a target="_blank" href="http://www.openstreetmap.org/">openstreetmap.org</a>. Potrai inserire il tuo nickname oltre al tuo indirizzo email e la password, confermando riceverai un email con un link da cliccare per attivarlo.</p>
<p>Ti troverai su una schermata come questa, in cui potrai navigare la mappa:<br>
<img src="https://learnosm.org/images/beginner/osm-website-main-functions_it.png" />
</p>

<p>Per una guida più approfondità <a target="_blank" href="https://learnosm.org/it/beginner/start-osm/">clicca qui</a>.</p>


<hr>

<h2 id="colonnina">Come aggiungere una colonnina di ricarica elettrica</h2>

<p>Con un account puoi utilizzare il browser per aggiungere un POI (point of interest o PDI punto di interesse). Devi impostare la tua città e vedere la zona nella mappa (puoi aiutarti con la visualizzazioen satellitare), a quel punto clicca sul pulsante <i>Modifica</i> e seleziona come da foto:<br>
<img src="https://learnosm.org/images/beginner/click-edit_it.png" />
</p>

<p>Il passo successivo è cliccare il punto della mappa e creare il PDI come da video che ti illustra il tipo di PoI che vuoi aggiungere. In questo caso <i>Charging Station</i> e inserire i dati suggeriti.<br>

<iframe width="560" height="315" sandbox="allow-same-origin allow-scripts allow-popups" src="https://video.linux.it/videos/embed/47fdf2cb-8e09-49a5-bad1-2cd992975f4e" frameborder="0" allowfullscreen></iframe>

Naturalmente questa guida può essere utilizzata anche per altri tipi di PDI. Inoltre se dei dati sono mancanti sarà possibile inserirli da app come StreetComplete.
</p>

<p>Per una guida più approfondità <a target="_blank" href="https://learnosm.org/it/beginner/start-osm/">clicca qui</a>.</p>

<hr>

<h2 id="commerciale">Come aggiungere una attività commerciale su OPenStreetMap (se non si ha il tempo)</h2>

<p>Richiedi l'aggiunta di una attività commerciale alla comunità Italiana di OpenStreetMap fornendo le informazioni necessarie con un semplice modulo che puoi compilare sul <a href="https://su.openstreetmap.it/">sito dedicato</a>.</p>

<hr>

<h2 id="mobile">Come aggiungere punti di interesse da mobile</h2>

<p>Questa attività richiede molti passaggi perchè l'applicazione ha una interfaccia più compatta e nasconde varie cose. Il comportamento è simile a quello da interfaccia web, aprire una mappa e selezionare un punto per poi aggiungere il PDI. La guida completa con le schermate e i vari passaggi si trova sul sito <a href="https://learnosm.org/it/mobile-mapping/osmand2/" target="_blank">learnosm.org</a> (in italiano).</p>

<p><b>Se qualcuno vuole realizzare una guida molto più semplice può aprire una <a href="https://gitlab.com/ItalianLinuxSociety/linux.it/" target="_blank">merge request qui</a>.</b></p>
