---
layout: page
title: Cos'è Linux
---

<h1 class="mb-3">{{ page.title }}</h1>

<img src="/assets/images/logo.png" alt="Tux, la mascotte Linux" class="float-right">

<p><b>Linux</b> è un sistema operativo, ovvero quell'insieme di programmi essenziali per far funzionare il computer e farci qualcosa di utile o divertente. E' una alternativa a Windows e a MacOS, e può essere installato al loro posto (o insieme, sullo stesso computer).</p>
<p>Più in generale Linux è il primo rappresentante del <a href="/softwarelibero">software cosiddetto "libero"</a> ("freesoftware", in inglese), ovvero quel software che viene distribuito con una licenza che ne permette non solo l'utilizzo da parte di chiunque ed in qualsiasi circostanza ma anche la modifica, la copia e l'analisi.</p>

<h2>Per Tutti i Gusti</h2>

<p>"Linux" è tipicamente usato come termine generico per indicare un sistema operativo con determinate qualità, nel concreto esistono le <b>distribuzioni</b>. Queste sono raccolte di software (software libero, si intende!) selezionato e predisposto per essere installato ed utilizzato nel modo più semplice possibile da parte degli utenti, fornendo una serie di strumenti essenziali per iniziare fin dall'inizio a usare il proprio PC nel pieno del potenziale.</p>

<p>Le distribuzioni Linux sono innumerevoli, ed ognuna si differenzia dall'altra per le scelte sul software installato di default, per le configurazioni iniziali, per essere maggiormente orientate alla facilità di utilizzo o all'ottimizzazione delle risorse del computer. <a href="/distro">Scegline una</a>, e visita il sito per scaricare (gratuitamente e legalmente) il CD da masterizzare, provare, <a href="/installare">installare</a>, e poi passare ad un amico!</p>

<div class="text-center d-none d-md-block">
    <a href="/distro"><img class="img-fluid" src="/assets/images/distro_ubuntu.png" alt="Ubuntu"></a>
    <a href="/distro"><img class="img-fluid" src="/assets/images/distro_debian.png" alt="Debian"></a>
    <a href="/distro"><img class="img-fluid" src="/assets/images/distro_fedora.png" alt="Fedora"></a>
    <a href="/distro"><img class="img-fluid" src="/assets/images/distro_mageia.png" alt="Mageia"></a>
    <a href="/distro"><img class="img-fluid" src="/assets/images/distro_trisquel.png" alt="Trisquel"></a>
</div>

<a class="cta-button" href="/distro">Scegli quale distribuzione scaricare ed installare!</a>

<p>Pressoché tutti i programmi installabili sono già <a href="/italiano">tradotti in italiano</a>, e per alcune di queste distribuzioni sono disponibili anche le versioni "live" che è possibile <a href="/usb">eseguire in modo temporaneo</a> da un CD o da una chiavetta USB senza bisogno di installare nulla permanentemente sul proprio computer: provare per credere!</p>

<img src="creativecommons.png" alt="Creative Commons" class="float-right">

<h2>Universi Paralleli</h2>

<p>Nel tempo il concetto di "software libero" ha contaminato svariati altri campi, ed è principio ispiratore di numerose iniziative analoghe: le <a href="http://creativecommons.it/">Creative Commons</a> sono licenze che applicano gli stessi meccanismi di riutilizzo e condivisione alle opere artistiche (musica, video, testi...), <a href="http://it.wikipedia.org/">Wikipedia</a> è l'enciclopedia online cui tutti possono partecipare e da cui tutti possono attingere contenuti, <a href="http://www.openstreetmap.org/">OpenStreetMap</a> è la mappa fatta e costantemente arricchita dagli utenti e liberamente utilizzabile in ogni contesto...</p>

<p>Ci sono tanti modi per reclamare la propria libertà digitale, ma tutto dipende dalle tue scelte e dalla tua volontà.</p>

<h2>Per Saperne di Più</h2>

<p>Altri dettagli puoi trovarli nell'elenco di <a href="/faq">Domande Frequenti</a> e nel <a href="/glossario">Glossario</a> pubblicati su questo sito: le due pagine sono in progressiva evoluzione, <a href="/contatti">contattaci</a> se vuoi suggerire nuove voci da aggiungere.</p>
